extends layout.pug 

block content 
  div.main-container
    h2 Exclusions List

    a(href="/logout") Logout |
    a(href="/add_new_exclusion") New

    ul.list 
      each exclusion in exclusions
        div.excl-card
          a.link(href=`/home/${exclusion._id}`)
            div.right-div
              img.image.exclusion-image(src=`${exclusion.img_url}`) 
            div.exclusion-list-item
              li.exclusion-item
                h4 Name: #{exclusion.last_name}, #{exclusion.first_name}
              if exclusion.dob !== '' && exclusion.dob !== 'Invalid date'
                li.exclusion-item DOB: #{exclusion.dob}
              if exclusion.other_info !== ''
                li.exclusion-item Other Info: #{exclusion.other_info}
              li.exclusion-item Violation(s): #{exclusion.ordinance}
              li.exclusion-item Description: #{exclusion.description}
              li.exclusion-item Length: #{exclusion.length}
              li.exclusion-item Date Served: #{exclusion.date_served}
              li.exclusion-item Expires after: #{exclusion.exp_date !== 'Invalid date' ? exclusion.exp_date : 'Lifetime'}
    //- Render links based on authorization:
    a(href="/logout") Logout |
    if user.role === 'admin' || user.role === 'supervisor'
      a(href="/add_new_exclusion") New |
      a(href="/archive") Archives |
    if user.role === 'admin'
      a(href="/users/") Users
    else 
      a(href=`/users/${user.loggedInUser}`) Account