extends layout.pug 

block content 
  div.header
    h1 Exclusions DB
  div.main-container
    h2 Exclusions List

    a(href="/logout") Logout |
    a(href="/add_new_exclusion") New

    ul.list 
      each exclusion in exclusions
        div.right-div
          img.image.exclusion-image(src=`${exclusion.img_url}`) 
        div.exclusion-list-item
          li.exclusion-item
            h4 Name: #{exclusion.name}
          li.exclusion-item DOB: #{exclusion.dob}
          li.exclusion-item Other Info: #{exclusion.other_info}
          li.exclusion-item Ordinance(s): #{exclusion.ordinance}
          li.exclusion-item Description: #{exclusion.description}
          li.exclusion-item Length: #{exclusion.length}
          li.exclusion-item Length(other): #{exclusion.other_length}
          li.exclusion-item Date Served: #{exclusion.date_served}
          li.exclusion-item Expires after: #{exclusion.exp_date}
          li.exclusion-item  
          
    
    a(href="/logout") Logout |
    a(href="/add_new_exclusion") New |
    if user.role === 'admin'
      a(href="/users/") Users
    else 
      a(href=`/users/${user.loggedInUser}`) Account