extends ../layout.pug 

block content 
  div.header   
    h1 Exclusions DB
  div.main-container
    each item in user
      form(role='form' action="/edit_user" method="post")
        h3 Update User: #{item.first_name} #{item.last_name}
        .form-element
          if currentUser.loggedInUserRole === 'admin'
            label.form-label(name='email') Email
            br
            input.form-control(type='text', name="email", placeholder=`${item.username}` value=`${item.username}`)
            br
            hr
          else 
            input.form-control(type='hidden', name="email", placeholder=`${item.username}` value=`${item.username}`)
            br  
        if currentUser.loggedInUserRole === 'admin'
          .form-element
            label.form-label(name='first_name') First Name
            br
            input.form-control(type='text', name="first_name", placeholder=`${item.first_name}` value=`${item.first_name}`)
            br
          .form-element
            label.form-label(name='last_name') Last Name
            br
            input.form-control(type='text', name="last_name", placeholder=`${item.last_name}` value=`${item.last_name}`)
            br
            hr
        else 
          .form-element
            input.form-control(type='hidden', name="first_name", placeholder=`${item.first_name}` value=`${item.first_name}`)
            br
          .form-element
            input.form-control(type='hidden', name="last_name", placeholder=`${item.last_name}` value=`${item.last_name}`)
          .form-element
            input.form-control(type='hidden', name="is_active", value=`${item.active}`)
          .form-element
            input.form-control(type='hidden', name="user_role", value=`${item.role}`)

        .form-element
          label.form-label(name='current_password') Current Password
          br
          input.form-control(type='password', name="current_password", placeholder='Current Password')
          br
        .form-element
          label.form-label(name='new_password') Change Password
          br
          input.form-control(type='password', name="new_password", placeholder='New Password')
          br
        .form-element
          label.form-label(name='confirm_password') Confirm New Password
          br
          input.form-control(type='password', name="confirm_password", placeholder='Confirm New Password')
          br 
        if currentUser.loggedInUserRole === 'admin'
          hr
          h4 Admin Only
          .admin-section
            fieldset
              .radio-section
                label.admin-form-label(name='is_active') Set Active: 
                  input.admin-form-control(type='checkbox' name='is_active' checked=item.active) 
            fieldset
              .radio-section
                if item.role === 'admin'
                  label.admin-form-label(for='user') User (read access)
                    input.admin-form-control(type='radio' name='user_role' value='user')
                  label.admin-form-label(for='supervisor') Supervisor (read/write access)
                    input.admin-form-control(type='radio' name='user_role' value='supervisor')
                  label.admin-form-label(for='admin') Admin (Warning: Full access)
                    input.admin-form-control(type='radio' name='user_role' value='admin' checked)
                  label.admin-form-label(for='inactive') No Access
                    input.admin-form-control(type='radio' name='user_role' value='inactive')
                  br
                else if item.role === 'supervisor'
                  label.admin-form-label(for='user') User (read access)
                    input.admin-form-control(type='radio' name='user_role' value='user')
                  label.admin-form-label(for='supervisor') Supervisor (read/write access)
                    input.admin-form-control(type='radio' name='user_role' value='supervisor' checked)
                  label.admin-form-label(for='admin') Admin (Warning: Full access)
                    input.admin-form-control(type='radio' name='user_role' value='admin')
                  label.admin-form-label(for='inactive') No Access
                    input.admin-form-control(type='radio' name='user_role' value='inactive')
                  br
                else if item.role === 'user'
                  label.admin-form-label(for='user') User (read access)
                    input.admin-form-control(type='radio' name='user_role' value='user' checked)
                  label.admin-form-label(for='supervisor') Supervisor (read/write access)
                    input.admin-form-control(type='radio' name='user_role' value='supervisor')
                  label.admin-form-label(for='admin') Admin (Warning: Full access)
                    input.admin-form-control(type='radio' name='user_role' value='admin')
                  label.admin-form-label(for='inactive') No Access
                    input.admin-form-control(type='radio' name='user_role' value='inactive')
                  br
                else if user.role === '' || user.role === undefined || !user.active
                  label.admin-form-label(for='user') User (read access)
                    input.admin-form-control(type='radio' name='user_role' value='user')
                  label.admin-form-label(for='supervisor') Supervisor (read/write access)
                    input.admin-form-control(type='radio' name='user_role' value='supervisor')
                  label.admin-form-label(for='admin') Admin (Warning: Full access)
                    input.admin-form-control(type='radio' name='user_role' value='admin')
                  label.admin-form-label(for='inactive') No Access
                    input.admin-form-control(type='radio' name='user_role' value='inactive' checked)
                  br
          br
 
        .form-button
          button.btn.btn-default(type='submit') Submit
      
      button.btn.btn-default(onclick="history.back()") Cancel
