extends ../layout.pug 

//- Renders individual user
block content
  div.main-container
    h2 User Account Details
    ul.list 
      each item in user
        li.exclusion-item Username/Email: #{item.username}
        li.exclusion-item User Role: #{item.role}
        li.exclusion-item Active User: #{item.active}
        li.exclusion-item Full Name: #{item.first_name} #{item.last_name}
        br

        a(href=`/users/${item.username}/edit_user`)
          i.fas-icon.fas-edit(class="fa-solid fa-pen-to-square")
        if currentUser.loggedInUserRole === 'admin'
          a(href=`/users/${item.username}/confirm_delete`)
            i.fas-icon.fas-delete(class="fa-solid fa-trash") 
        a(href=`/logout`)
          i.fas-icon.fas-logout(class="fa-solid fa-right-from-bracket")
      hr
      button.btn.list-btn(onclick=`history.back()`) Back
      
    