extends ../layout.pug 

//- Renders individual user
block content
  div.main-container
    h2 User Account Details
    ul.list 
      each item in user
        li.exclusion-item Username/Email: #{item.username}
        li.exclusion-item User Role: #{item.role}
        li.exclusion-item Active User: #{item.active}
        li.exclusion-item Full Name: #{item.first_name} #{item.last_name}
        br
        if currentUser.loggedInUserRole === 'admin'
          button.btn.btn-list.list-btn(onclick=`window.location.href='/users/${item.username}/edit_user'`) Edit User
        else 
          button.btn.btn-list.list-btn(onclick=`window.location.href='/users/${item.username}/edit_user'`) Edit
        if currentUser.loggedInUserRole === 'admin'
          button.btn.list-btn(onclick=`window.location.href='/users/${item.username}/confirm_delete'`) Delete
      hr
      button.btn.list-btn(onclick=`history.back()`) Back
    