extends ../layout.pug 
block header
  input(id="menu-toggle" type="checkbox")
  label(class='menu-button-container' for="menu-toggle")
  div.menu-button
    i.fas-icon-light-header(id="hamburger-menu" class="fa-solid fa-bars")
  ul.menu
    li.menu-item
      a(href='/home')
        i.fas-icon-light.menu-icon(class="fa-solid fa-house-user") 
        h4.menu-text Home/Active List
    if user.role === 'admin'
      li.menu-item 
        a(href='/users')
          i.fas-icon-light.menu-icon(class="fa-solid fa-users") 
          h4.menu-text Users
    li.menu-item 
      a(href=`/users/${user.username}`)
        i.fas-icon-light.menu-icon(class="fa-solid fa-gear")
        h4.menu-text Account
    li.menu-item
      form(id='logout' action="/logout" method="post")
        i.fas-icon-light-menu.menu-icon-logout(id="logout-icon" class="fa-solid fa-right-from-bracket")
          btn(type="submit")
//- Renders individual user
block content
  div.main-container
    h2.content-title User Account Details
    ul.list 
      .user-card
        each item in foundUser
          .user-right.user-edit-icons
            a(href=`/users/${item.username}/edit_user`)
              i.fas-icon.fas-edit(class="fa-solid fa-pen-to-square")
            if user.role === 'admin' && item.username !== user.username
              btn(onclick=`displayModalwindow('Delete user?', 'Are you sure you want to delete this user from the database? <strong>Caution:</strong> This action cannot be undone.', '/users/${item.username}/delete_user', 'Delete')`)
                i.fas-icon.fas-delete(class="fa-solid fa-trash") 
                
          li.exclusion-item Username/Email: #{item.username}
          li.exclusion-item User Role: #{item.role}
          li.exclusion-item Active User: #{item.active}
          li.exclusion-item Full Name: #{item.first_name} #{item.last_name}
        hr
        button.btn.list-btn(onclick=`history.back()`) Back

  #modal
  script(src='/static/js/display_modal.js')  
  script(src='/static/js/logout.js')

    