extends ../layout.pug 
block header 
  div.header-right
    if currentUser.role === 'admin' || currentUser.role === 'supervisor'
      a(href='/home')
        i.fas-icon-light(class="fa-solid fa-house")
      a(href='/archive')
        i.fas-icon-light(class="fa-solid fa-box-archive")
    if currentUser.role === 'admin'
      a(href=`/users/${currentUser.loggedInUser}`)
        i.fas-icon-light(class="fa-solid fa-user")
    a(href=`/logout`)
      i.fas-icon-light(class="fa-solid fa-right-from-bracket")
//- Renders users page
block content
  div.main-container
    h2.content-title Registered Users
    ul.list 
      .user-card
        each item in users
          .user-right
            a(href=`/users/${item.username}`)
              i.fas-icon.fas-view(class="fa-solid fa-eye")
            a(href=`/users/${item.username}/edit_user`)
              i.fas-icon.fas-edit(class="fa-solid fa-pen-to-square")
            if currentUser.loggedInUserRole === 'admin'
              a(href=`/users/${item.username}/confirm_delete`)
                i.fas-icon.fas-delete(class="fa-solid fa-trash") 
          div.users-list-item#user-item(onclick=`window.location.href='/users/${item.username}'`)
            li.user-item #{item.first_name} #{item.last_name} 
              if item.loggedIn
                i.fas-icon-loggedin(class="fa-solid fa-circle fa-xs") 
              else  
                i.fas-icon-loggedout(class="fa-solid fa-circle fa-xs") 
    button.btn.list-btn(onclick=`history.back()`) Back
    button.btn.list-btn(onclick="window.location.href=/home/") Home

