extends ../layout.pug 
block header 
  div.header-right
    a(href=`/users/${user.loggedInUser}`)
      i.fas-icon-light(class="fa-solid fa-user")
    if user.role === 'admin'
      a(href='/users')
        i.fas-icon-light(class="fa-solid fa-users")  
    i.fas-icon-light(id="logout-icon" class="fa-solid fa-right-from-bracket")
      form(id='logout' action="/logout" method="post")
        btn( type="submit") 
block content  
  div.main-container
    h2.content-title Exclusions List

    ul.list 
      if user.role === 'admin' || user.role === 'supervisor'
        .left-btn-div
          a(href='/add_new_exclusion')
            i.fas-icon(class="fa-solid fa-plus")
          a(href='/archive')
            i.fas-icon(class="fa-solid fa-box-archive")
          label.select-label-home(for='filter') 
            small | Filter: 
          //- TODO: setup function to change based on selection
          select.select-input-home(name="filter" id="filter" onChange="")
            option(value="all") All
            option(value="limited") Limited
            option(value="lifetime") Lifetime
          label.select-label-home(for='sort') 
            small | Sort by: 
          //- TODO: setup function to filter
          select.select-input-home(name="sort" id="sort" onChange="")
            option(value="last_name") Last Name
            option(value="first_name") First Name
            option(value="length") Exclusion Length
            option(value="exp_date") Expiration Date
        .right-btn-div
          btn(onclick=`window.print()`)
            .fas-icon(class="fa-solid fa-print")
        hr
      each exclusion in exclusions
        .excl-card
          a.link(href=`/home/${exclusion._id}`)
            div.right-div
              img.image.exclusion-image(src=`${exclusion.img_url}`) 
            div.exclusion-list-item
              li.exclusion-item
                h3.exclusion-name Name: #{exclusion.last_name}, #{exclusion.first_name} 
                  if exclusion.dob !== '' && exclusion.dob !== 'Invalid date'
                    | (DOB: #{exclusion.dob})
              li.exclusion-item
                strong Length: 
                if exclusion.length === 'Infinity' || exclusion.length === 'Lifetime'
                  strong(class='red-filter') Lifetime 
                else 
                  | #{exclusion.length} days
              li.exclusion-item 
                strong Date Served: 
                | #{exclusion.date_served}
              li.exclusion-item 
                strong Expires after: 
                | #{exclusion.exp_date !== 'Invalid date' ? exclusion.exp_date : 'N/A'}
              li.exclusion-item 
                strong Violation(s): 
                | #{exclusion.ordinance}
              li.exclusion-item 
                strong Description: 
                | #{exclusion.description.split(' ').slice(0,26).join(' ')}...
              if exclusion.other_info !== ''
                li.exclusion-item 
                strong Other Info: 
                | #{exclusion.other_info}

    //- Render links based on authorization:
    .left-btn-div
      a(href='/add_new_exclusion')
        i.fas-icon(class="fa-solid fa-plus")
      a(href='/archive')
        i.fas-icon(class="fa-solid fa-box-archive")
    .right-btn-div
      btn(onclick=`window.print()`)
        .fas-icon(class="fa-solid fa-print")
  script(src='/static/js/logout.js')