extends ../layout.pug 

block content 
  div.main-container
    h2 Exclusions List

    if user.role === 'admin' || user.role === 'supervisor'
        a(href='/add_new_exclusion')
          button.btn.btn-primary.list-btn(type="button") New Excl.

    ul.list 
      each exclusion in exclusions
        div.excl-card
          a.link(href=`/home/${exclusion._id}`)
            div.right-div
              img.image.exclusion-image(src=`${exclusion.img_url}`) 
            div.exclusion-list-item
              li.exclusion-item
                h4 Name: #{exclusion.last_name}, #{exclusion.first_name} 
                  if exclusion.dob !== '' && exclusion.dob !== 'Invalid date'
                    | (DOB: #{exclusion.dob})
              li.exclusion-item
                strong Length: 
                if exclusion.length === 'Infinity' || exclusion.length === 'Lifetime'
                  strong(class='red-filter') Lifetime 
                else 
                  | #{exclusion.length} days
              li.exclusion-item 
                strong Date Served: 
                | #{exclusion.date_served}
              li.exclusion-item 
                strong Expires after: 
                | #{exclusion.exp_date !== 'Invalid date' ? exclusion.exp_date : 'N/A'}
              li.exclusion-item 
                strong Violation(s): 
                | #{exclusion.ordinance}
              li.exclusion-item 
                strong Description: 
                | #{exclusion.description.split(' ').slice(0,32).join(' ')}...
              if exclusion.other_info !== ''
                li.exclusion-item 
                strong Other Info: 
                | #{exclusion.other_info}
              
              
            
              
              
    //- Render links based on authorization:
    .left-btn-div
      if user.role === 'admin' || user.role === 'supervisor'
        a(href='/add_new_exclusion')
          button.btn.btn-primary.list-btn(type="button") New Excl.
        a(href='/archive')
          button.btn.btn-primary.list-btn(type="button") Archives
      if user.role === 'admin'
        a(href='/users')
          button.btn.btn-primary.list-btn(type="button") Users
      else 
        a(href=`/users/${user.loggedInUser}`)
          button.btn.btn-primary.list-btn(type="button") Account
    .right-btn-div
      a(href='/logout')
        button.btn.btn-primary.list-btn(type="button") Logout