extends ../layout.pug 
block header 
  ul.menu
    if currentUser.role === 'admin' || currentUser.role === 'supervisor'
      li.menu-item
        a(href='/home')
          i.fas-icon-light.menu-icon(class="fa-solid fa-house-user") 
          h4.menu-text Home/Active List
    if currentUser.role === 'admin'
      li.menu-item 
        a(href='/users')
          i.fas-icon-light.menu-icon(class="fa-solid fa-users") 
          h4.menu-text Users
      li.menu-item 
        a(href=`/users/${currentUser.loggedInUser}`)
          i.fas-icon-light.menu-icon(class="fa-solid fa-gear")
          h4.menu-text Account
      li.menu-item
        form(id='logout' action="/logout" method="post")
          i.fas-icon-light-menu.menu-icon-logout(id="logout-icon" class="fa-solid fa-right-from-bracket")
            btn(type="submit") 
//- Renders users page
block content
  div.main-container
    h2.content-title Registered Users
    ul.list 
      .user-card
        
        each item in users
          .user-right
            a(href=`/users/${item.username}`)
              i.fas-icon.fas-view(class="fa-solid fa-eye")
            a(href=`/users/${item.username}/edit_user`)
              i.fas-icon.fas-edit(class="fa-solid fa-pen-to-square")
            if currentUser.loggedInUserRole === 'admin'
              btn(onclick=`displayModalwindow('Delete user?', 'Are you sure you want to delete this user (${item.username}) from the database? <strong>Caution:</strong> This action cannot be undone.', '/users/${item.username}/delete_user', 'Delete')`)
                i.fas-icon.fas-delete(class="fa-solid fa-trash") 
          div.users-list-item#user-item(onclick=`window.location.href='/users/${item.username}'`)
            li.user-item #{item.first_name} #{item.last_name} 
              each session in sesUsers
                if session === item.username  
                  i.fas-icon-loggedin(class="fa-solid fa-circle fa-xs") 
    button.btn.list-btn(onclick=`history.back()`) Back
    button.btn.list-btn(onclick="window.location.href=/home/") Home

  #modal
  script(src='/static/js/display_modal.js')  
  script(src='/static/js/logout.js')
