extends ../layout.pug 
block header
  div.header-right
    if currentUser.role === 'admin' || currentUser.role === 'supervisor'
      a(href='/home')
        i.fas-icon-light(class="fa-solid fa-house")
    a(href=`/users/${currentUser.username}`)
      i.fas-icon-light(class="fa-solid fa-user")
    if currentUser.role === 'admin'
      a(href='/users')
        i.fas-icon-light(class="fa-solid fa-users")
    i.fas-icon-light(id="logout-icon" class="fa-solid fa-right-from-bracket")
      form(id='logout' action="/logout" method="post")
        btn( type="submit") 
block content 
  div.main-container
    h2.content-title Edit existing Exclusion Order

    form(role='form' action="/edit_exclusion" method="post")
      .form-exclusion-section
        .form-element
          label.form-label.name-label.tooltip(for='first_name') * First Name
            .tooltiptext Add middle initial, if known
          input.form-control.name-input(type='text' name="first_name" placeholder='First Name' size='50' value=`${exclusion.first_name}` required)
          br
        .form-element
          label.form-label.name-label(for='last_name') * Last Name
          input.form-control.name-input(type='text' name="last_name" placeholder='Last Name' size='50' value=`${exclusion.last_name}` required)
          br
      .form-exclusion-section
        .form-element
          label.form-label(for='dob') DOB
          input.form-control(type='date' name="dob", placeholder=`${exclusion.dob}` value=`${dates.dobDate}`)
          br
        .form-element
          label.form-label(for='other_info') Other Info (i.e. gender, height, weight, etc.)
          input.form-control(type='text' name="other_info" placeholder='Other Information' value=`${exclusion.other_info}`)
          br
      .form-element
        label.form-label.tooltip(for='ordinance') * Ordinance/Policy (separated by ',')
          .tooltiptext Example: RCW 9.91.025(a), POL-310(13)
        input.form-control(type='text' name="ordinance" placeholder='RCW/POL#, separated by comma' value=`${exclusion.ordinance}` required)  
      .form-element
        label.form-label.tooltip(for='description') * Description of infraction
          small.number 
            em (520)
          .tooltiptext Max characters: 540
        textarea.form-control.description(id="description" name="description" rows='4' cols="20" maxlength="540" required) #{exclusion.description}
        br
      .form-exclusion-section
        .form-element
          label.form-label.tooltip(for='length' id='exclusion-label') Exclusion Length
            .tooltiptext Enter any number -or- Infinity
          br 
          input.form-control(type='text' id="exclusion-length" name="length" placeholder=`${exclusion.length}` value=`${exclusion.length}`)  
          br
      .form-exclusion-section
        .form-element
          label.form-label(for='date_served') *Date Issued
          br
          input.form-control(type="date" id="date-served" name="date_served" value=`${dates.exclDate}`)  
          br
      .form-element
        label.form-label.tooltip(for='img_url') Image URL
          .tooltiptext Copy and paste readable image link from Google Photos
        br 
        input.form-control(type='text' name="img_url" id="image_url" placeholder="Image URL" value=`${exclusion.img_url}`)  
      .form-element
        label.form-control(for='signature') * Issuing Supervisor: 
        br
        input.form-control(type='text' name="signature" id="signature" placeholder=`${exclusion.signature}` value=`${exclusion.signature}` required)  
        br
      .form-element
        label.form-label(for='super_title') * Issuer Title
        br
        select.form-control.select-input-title(name="super_title" id="super_title" onChange='exclusionLengthChange()' required)  
          if exclusion.super_title === 'Operations Supervisor'
            option(value="Operations Supervisor" selected) Operations Supervisor
            option(value="Operations Manager") Operations Manager
            option(value="T-CC Manager") T-CC Manager
          else if exclusion.super_title === 'Operations Manager'
            option(value="Operations Supervisor") Operations Supervisor
            option(value="Operations Manager" selected) Operations Manager
            option(value="T-CC Manager") T-CC Manager
          else if exclusion.super_title === 'T-CC Manager'
            option(value="Operations Supervisor") Operations Supervisor
            option(value="Operations Manager") Operations Manager
            option(value="T-CC Manager" selected) T-CC Manager
          else 
            option(value="Operations Supervisor" selected) Operations Supervisor
            option(value="Operations Manager") Operations Manager
            option(value="T-CC Manager") T-CC Manager
        br
        input.form-control(type='hidden' name="id" id="id" value=`${id}`)  
        br
        small * required
        br 
        br
      .form-button
        button.btn.btn-default(type='submit') Submit
        a(href=`/home/${exclusion.id}`)
          button.btn.btn-primary(type="button") Cancel

  #modal
  script(src='/static/js/display_modal.js')
  script(src='/static/js/exclusion_form.js')
  script(src='/static/js/character_counter.js')
  script(src='/static/js/logout.js')