extends ../layout.pug 

block content 
  div.header
    h1 Exclusions DB
  div.main-container
    h2 Edit existing Exclusion Order
    
    form(role='form', action="/edit_exclusion",method="post")
      .form-exclusion-section
        .form-element
          label.form-label.name-label.tooltip(for='first_name') * First Name
            .tooltiptext Add middle initial, if known
          input.form-control.name-input(type='text', name="first_name", placeholder='First Name' size='50' value=`${exclusion.first_name}` required)
          br
        .form-element
          label.form-label.name-label(for='last_name') * Last Name
          input.form-control.name-input(type='text', name="last_name", placeholder='Last Name' size='50' value=`${exclusion.last_name}` required)
          br
      .form-exclusion-section
        .form-element
          label.form-label(for='dob') DOB
          input.form-control(type='date', name="dob", placeholder=`${exclusion.dob}` value=`${dates.dobDate}`)
          br
        .form-element
          label.form-label(for='other_info') Other Info (i.e. gender, height, weight, etc.)
          input.form-control(type='text', name="other_info", placeholder='Other Information' value=`${exclusion.other_info}`)
          br
      .form-element
        label.form-label.tooltip(for='ordinance') * Ordinance/Policy (separated by ',')
          .tooltiptext Example: RCW 9.91.025(a), POL-310(13)
        input.form-control(type='text', name="ordinance", placeholder='RCW/POL#, separated by comma' value=`${exclusion.ordinance}` required)  
        br
      .form-element
        label.form-label(for='description') * Description of infraction
        br
        textarea.form-control(id="description" name="description" rows='4' cols="50" required)  
          | #{exclusion.description}
        br
      .form-exclusion-section
        .form-element
          label.form-label.tooltip(for='length' id='exclusion-label') Exclusion Length
            .tooltiptext Enter any number -or- Lifetime
          br 
          input.form-control(type='text' id="exclusion-length" name="length" placeholder=`${exclusion.length}` value=`${exclusion.length}`)  
          br
      .form-exclusion-section
        .form-element
          label.form-label(for='date_served') *Date Issued
          br
          input.form-control(type="date" id="date-served" name="date_served" value=`${dates.exclDate}`)  
          br
      .form-element
        label.form-label.tooltip(for='img_url') Image URL
          .tooltiptext Copy and paste readable image link from Google Photos
        br 
        input.form-control(type='text' name="img_url" id="image_url" placeholder="Image URL" value=`${exclusion.img_url}`)  
      .form-element
        label.form-control(for='signature') Issuing Supervisor: 
        br
        input.form-control(type='text' name="signature" id="signature" placeholder=`${currentUser.first_name} ${currentUser.last_name}` value=`${currentUser.first_name} ${currentUser.last_name}`)  
        br
        input.form-control(type='hidden' name="id" id="id" value=`${id}`)  
        br
        br
        small * required
        br 
        br
      .form-button
        button.btn.btn-default(type='submit') Submit
        a(href='/home')
          button.btn.btn-primary(type="button") Cancel

      script(src='/static/js/exclusion_form.js')